*:focus {outline:none !important;}
body {
  padding: 0;
  margin: 0;
}

.page-header {
  border: none;
}

table {
  width: 100%;
  
  td {
	padding: 5px 0;
  }
}


/*-- article full page --*/
.full {
  .field {
	margin-bottom: 8px;
	overflow: hidden;
	position: relative;
	.field--label {
	  position: absolute;
	  top: 5px;
	  left: 0;
	  width: 160px;
	  font-weight: normal;
	}
	.field--item {
	  display: block;
	  padding: 5px;
	  margin-left: 160px;
	  min-height: 30px;
	  background-color: $gray-lighter;
	}
  }
}

/*-- views details --*/
.view-label-data {
  .views-field {
	margin-bottom: 8px;
	overflow: hidden;
	position: relative;
	.views-label {
	  position: absolute;
	  top: 5px;
	  left: 0;
	  width: 160px;
	  font-weight: normal;
	}
	.field-content {
	  display: block;
	  padding: 5px;
	  margin-left: 160px;
	  min-height: 30px;
	  background-color: $gray-lighter;
	}
  }
}

/*--- flagged-comment --*/
.block-section {
  margin-bottom: 15px;
  .title {
	border-bottom: 2px solid lighten($gray-base, 85%);
	margin-bottom: 15px;
	padding-bottom: 5px;
	font-style: italic;
  }
}

/* --- farmer-tabs ---*/
.farmer-tabs {
  margin: 25px 0px;
  a.active {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
  }
}

.center-container {
  margin-bottom: 15px;
}