*:focus {
  outline: none !important;
}

body {
  padding: 0;
  margin: 0;
}

.page-header {
  border: none;
}

table {
  width: 100%;

  td {
    padding: 5px 0;
  }
}

.menu--fmis-reports.nav-tabs {
  border-bottom: 0;
  > li > a {
    border-width: 0;
    margin-right: 0;
    border-bottom: 1px solid #ddd;

    &.is-active,
    &.is-active:hover {
      border-bottom: 0;
      color: #222;
    }
  }
  > li.active > a {
    border-width: 1px;
    border-bottom: 0;
    color: #222;
  }
}

/*-- article full page  --*/
.full {
  .field {
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;

    .field--label {
      position: absolute;
      top: 5px;
      left: 0;
      width: 160px;
      font-weight: normal;
    }

    .field--item {
      display: block;
      padding: 5px;
      margin-left: 160px;
      min-height: 30px;
      background-color: $gray-lighter;
    }
  }
}

/*-- views details --*/
.view-label-data {
  .views-field {
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;

    .views-label {
      position: absolute;
      top: 5px;
      left: 0;
      width: 160px;
      font-weight: normal;
    }

    .field-content {
      display: block;
      padding: 5px;
      margin-left: 160px;
      min-height: 30px;
      background-color: $gray-lighter;
    }
  }
}

.view-sub-area-map {
  .view-content {
    min-height: 450px;
  }
  .field-content {
    margin-left: 0 !important;
  }
  .subarea-map {
    position: absolute;
    width: 100%;
    z-index: 0;
    visibility: hidden;
    &.active {
      z-index: 1;
      visibility: visible;
    }
  }
}

/*--- flagged-comment --*/
.block-section {
  margin-bottom: 15px;

  .title {
    border-bottom: 2px solid lighten($gray-base, 85%);
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-style: italic;
  }
}

/* --- farmer-tabs ---*/
.farmer-tabs {
  margin: 25px 0px;

  a.active {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
  }
}

.center-container {
  margin-bottom: 15px;
}

/* -- Offers/Licences table --*/
.view-offers-licences-view {
  table {
    th {
      width: 160px;
    }

    td {
      height: 40px;
      padding: 5px;
      border-bottom: 8px solid #fff;
      border-left: 8px solid #fff;
      background-color: $gray-lighter;
    }
  }
}

/* --  --*/
.fees, .land-rent {

  .heading {
    font-size: 16px;
  }
  .views-label {
    font-weight: bold !important;
  }

  .balance {
    color: red;
    font-weight: bold;
  }

  .payment {
    color: green;
    font-weight: bold;
  }

}

.view-farmer-details-list {
  caption {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  .view-header {
    text-align: right;
  }
}

.views-exposed-form {
  .align-items-end .form-group {
    margin-bottom: 0;
    margin-right: 2px;
  }
}

.view-accounts-tab {
  .form-inline {
    display: flex;
    align-items: flex-end;

    .form-group {
      margin-right: 5px;
    }
  }
  .select-wrapper {
    display: block;
  }
  button {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
  }
}

.view-fmis-reports {
  &.view-display-id-farmers_full {
    .table-responsive {
      margin-bottom: 60px;
      border: 1px dashed $gray-light;

      caption {
        padding: 0;
        font-weight: bold;
        color: $gray-dark;
      }

      .views-field-title-1,
      .views-field-title-2 {
        font-weight: bold;
        background: $gray-lighter;
        min-width: 120px;
      }
    }
  }
}