{#
/**
* @file
* Default theme implementation to display area information under Invoice details
* on Invoice page.
*
* Available variables:
* - $area_data: array.
* @see nfafmis_theme()
*/
#}
<article class="farmer-details full clearfix">
  {% if area_data %}
  <div class="content">
    <div class="block-section">
      <h5 class="title">{{area_data.title}}</h5>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th id="view-field-charge-date-table-column" class="views-field" scope="col">Description</th>
            <th id="view-field-amount-table-column" class="views-field" scope="col">Date</th>
            <th id="view-field-amount-table-column" class="views-field" scope="col">Amount owed</th>
          </tr>
        </thead>
        <tbody>
          {# if empty table #}
          {% if area_data.data is empty %}
          <td class="view-empty" colspan="3">No data found.</td>
          {% endif %}
          {# if empty table #}
          {% for key,area_info in area_data.data %}
          <tr>
            <td headers="view-field-charge-date-table-column">{{area_info.desc}}</td>
            <td headers="view-field-amount-table-column">{{area_info.date}}</td>
            <td headers="view-field-charge-date-table-column">UGX {{area_info.amount}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</article>
