/* print.css */

.page-node-type-invoice .main-container h1 {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 48px;
}

.page-node-type-invoice .header-section {
  margin-top: 80px;
}

.page-node-type-invoice .top-section {
  display: flex;
  margin: 0 auto;
  font-size: 28px;
  font-weight: bold;
}

section .row {
  margin-bottom: 20px;
}

.page-node-type-invoice .col-md-6 span {
  display: block;
  background: #d7d3d3;
  padding: 10px;
}

.page-node-type-invoice .print-section {
  margin-bottom: 80px;
}

/* override styles when printing */
@media print {
  .main-container h1 {
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 48px;
  }

  .page-node-type-invoice .header-section {
    margin-top: 20px;
  }

  .page-node-type-invoice .top-section {
    display: flex;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
  }

  section .row {
    margin-bottom: 20px !important;
  }

  .page-node-type-invoice .col-md-6 span {
    background: #d7d3d3 !important;
    padding: 10px !important;
    -webkit-print-color-adjust: exact;
  }

  .page-node-type-invoice .print-section {
    display: none;
  }

  a[href]:after {
    content: none !important;
  }
}
