.logo {
  img {
	width: 200px;
  }
}
.navbar-brand {
  text-transform: uppercase;
  width: 230px;
  line-height: 1.3em;
  padding: 10px;
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-nav {
	float: right;
  }
}