.navbar-default {
  border: none;
  border-radius: 0;
  background: none;
}
.logo {
  img {
	width: 200px;
  }
}
.navbar-brand {
  text-transform: uppercase;
  width: 230px;
  line-height: 1.3em;
  padding: 10px;
}


@media (min-width: $grid-float-breakpoint) {
  .navbar {
	padding: 0;
    .navbar-nav {
	  float: right;
	}
  }
}

@media (max-width: $grid-float-breakpoint-max) {
  .navbar-brand {
    display: none;
  }
}